{% extends "base.html" %}


<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title> Legal Cases - Registerin in the database</title>




<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>

</head>

{% block content %}
<body>
<div class="content">
  <form method="post" id="Processo" action="" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.as_p}}
    {{ cadastroform.as_p}}

    

			<!--{% if url %}
			<p> Upload file: <a href = "{{url}}">{{url}}</a></p>
			{% endif %} -->

    <input type="submit" value="Submit">
    <input type="submit" onclick="window.location='{% url 'juris:index' %}' ; return false;" value="Cancel">

    <!-- {{datatable.render}}
 -->   

      <script>

          $(document).ready(function(){


            $('#id_vara').empty();

            var spString = JSON.parse('{{json_sp_string | escapejs}}');
            var mgString = JSON.parse('{{json_mg_string | escapejs}}');


          $('#id_tribunal').on('change', function(){

            var tribunal = $('#id_tribunal').val();



            if(tribunal== "2ª Região - São Paulo/SP"){

              $('#id_vara').empty();

              var lenght = spString.lenght;
              var i;
              for(i=0; i < lenght; i++){

                vara = spString[i];
                $('#id_vara').append(

                             `
                            <option value="${vara}">
                                ${vara}
                            </option>

                            `
                          );

                    }

                }
              

              else if(tribunal == '3ª Região - Belo Horizonte/MG'){

                    $('#id_vara').empty();

                  var length = mgStrings.length;
                  var i;
                  for(i=0; i < length; i++){

                        vara = mgStrings[i];
                        $('#id_vara').append(

                            `
                            <option value="${vara}">
                                ${vara}
                            </option>
                            `

                        );

                    }

                }

                else{

                    $('#id_vara').empty();

                }

          });
   });

        </script>
  </form>

</body>


</html>

{% endblock %}